---
http_interactions:
- request:
    method: get
    uri: https://api-2445581366752.apicast.io/api/v3/netcode/ncgenerator/getnetcode?user_key=<API_KEY>&pid=<PAIRING_ID>&id=N106758&sd=20%2F10%2F2015&st=16&du=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"netcode":"087246","starttime":"2015\/10\/20\/16:0"}'
  recorded_at: Tue, 20 Oct 2015 15:59:51 GMT
recorded_with: VCR 2.9.3
